# version: '3.8'

services:
  app:
    container_name: codingpt_back_local
    image: whrksp126/codingpt_back:local
    build: 
      context: .
      dockerfile: Dockerfile.local
    ports:
      - "5103:5100"
    env_file:
      - .env.local
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev -- --host"